* {
    font-family: 'Pretendard', sans-serif;
}

body {
    background-color: #f9f8f4;
}

.post-list {
    top:0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 104px;
    margin-bottom: 200px;
    width: 100%;
}

/* 상단박스 */
.first-post-box {
    background-color: transparent;
    height: 520px;
    color: #fff;
    font-family: 'Pretendard', sans-serif;
}

.first-post-box h3 {
    font-size: 36px;
    font-weight: 700;
    margin: 0;
    /* padding-top: 3%; */
}

.first-post-box p {
    margin-bottom: 10px;
    font-weight: 300;
    height: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    /* border : 5px solid white; */
}

.first-post-box .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 415px;
    padding-top: 3%;
    /* border : 5px solid white; */
}

.first-post-box .container .post-info-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: -160px;
    gap: 8px;
    position: absolute;
    color: #fff;
    z-index: 1;
    height: auto;
    width: 40%;
    line-height: 2;
    /* border : 5px solid white; */
}

.first-post-box button {
    background-color: #3a3a3a;
    color: #f9f8f4;
    border-radius: 2px;
    padding: 8px 18px;
    width: fit-content;
    font-size: 14px;
    font-weight: 300;
}

.first-post-box button:hover {
    background-color: #474747;
    transition: transform 0.8s;
}

.thumbnail-img{
    opacity: 0.9;
    height: 100%;
    width: 100%;
    /* height: -webkit-fill-available; */
    /* border : 5px solid white; */
    /* padding-left: 30%; */
    object-fit: cover;
    justify-content: center;
}

.thumbnail-img img{
    height: 400px;
    width: 100%;
    object-fit: cover;
    justify-content:space-between;
}

.first_image {
    object-fit: cover;
    justify-content: center;
    /* min-width: 600px; */
    /* min-height: -webkit-fill-available; */
    width: 100%;
    height: 100%;
    /* border : 1px solid white; */
}



/* 하단박스 */
.post-box {
    display: flex;
    padding: 54px 0px;
}


.container {
    width: 1024px;
    margin: auto;
    display: flex;
    gap: 38px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;

}

.post-link {
    display: inline-block;
}

.card {
    width: calc((100% - (2 * 38px)) / 3);
    
    display: flex;
    flex-direction: column;
    gap: 16px;
    /* flex: 0; */
    height: auto;
}



.card:hover {
    transform: scale(1.01);
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    background-color: #f5f5f5;
    transition: transform 0.8s, box-shadow 0.3s, background-color 0.3s;
}

.card-info-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    color: #1e1e1e;
    font-family: 'Pretendard', sans-serif;
}

.card-info-box img {
    width: 100%;
}

.card-info-box p {
    margin: 10px 0;
}

h3 {
    font-family: 'Pretendard', sans-serif;
    font-size: 10px;
    margin-bottom: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-info-box h3 {
    font-size: 20px;
    font-weight: 700;
}

.card-info-box p {
    font-size: 14px;
    /* margin-bottom: 4px; */
}

.sub-info {
    color: #7c7c7c;
    display: flex;
    gap: 20px;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

a {
    text-decoration: none;
    color: #111;
}

.card-thumbnail-img {
    width: 100%;
    height: 220px;
    overflow: hidden;
    position: relative;
}

.card-thumbnail-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 1024px) {
    .container {
        padding: 0 30px;
    }
}

@media (max-width: 800px) {
    .first-post-box .container .post-info-box {
        width: 80%;
    }

    .card {
        width: 100%;
    }
}

@media (max-width: 1024px) and (min-width: 800px) {
    .card {
        width: calc((100% - (1 * 38px)) / 2);
    }
}