nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background-color:transparent;
    width: 100%;
    z-index: 999;
    color: #f9f8f4;
    text-decoration: none;
    font-family: 'Pretendard', sans-serif;
    padding: 14px 0;
    position: fixed;
}

.logo{
    margin-right: 68px;
    width: 72px;
    height: 36px;
    background-color: transparent;
    /* border: 1px solid black; */
}

.nav-buttons{
    display: flex;
    gap: 20px;
}

.nav-buttons a button{
    font-size: 18px;
    border: none;
    background-color: transparent;
    font-weight: 700;

}

.ghost-button{
    font-size: 16px;
    padding: 6px 16px;
    text-decoration: none;
    border: 1px solid #d7d7d7;
}

.orange{
    color: #fa6616;
    border: 1px solid #fa6616;
}

input{
    background-color: #f3f3f3;
    padding:6px 16px;
    font-size: 16px;
    border: none;
}

.orange-text{
    color: #fa6616;
    
}

.flex-box{
    display: flex;
    flex-direction: row;
    margin-right: 50px;
    border: 1px solid black;
}

.container_n{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    border: 1px solid black;
}

.gap8{
    gap: 8px;
}

.full-box{
    display: flex;
    flex-direction: row;
}