{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}?{% now "U" %}">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}?{% now "U" %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}?{% now "U" %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}?{% now "U" %}"/>
    <title>Document</title>
</head>
<body>
    {% include 'main/nav.html' %}
    <h3>요일별 신작</h3>
    <div>안내사항</div>

    {% for day, anime_list in data.items %}
    <h2>{{ day }} 방영 애니메이션</h2>
    <ul>
      {% for item in anime_list %}
        <li>{{ item.name }} (방영 시간: {{ item.distributed_air_time }})</li>
      {% endfor %}
    </ul>
    {% endfor %}
    <div>
        <div>
            월
        </div>
        <div>
            화
        </div>
        <div>
            수
        </div>
        <div>
            목
        </div>
        <div>
            금
        </div>
        <div>
            토
        </div>
        <div>
            일
        </div>
    </div>
</body>
</html>