{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}?{% now "U" %}">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}?{% now "U" %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}?{% now "U" %}">
    <link rel="stylesheet" href="{% static 'css/day.css' %}?{% now "U" %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}?{% now "U" %}"/>
    <title>요일별 신작</title>
</head>
<body>
    {% include 'main/nav.html' %}

<div class="day_top">
    <h1 style="margin:10px;font-size:20px;">요일별 신작</h1>
    <div class="week_list">
        {% for day, anime_list in data.items %}
            <div class="day_list">
                <h2>{{ day }}</h2>
                {% for item in anime_list %}
                    <div class="day_box">
                        <div><img class="day_img" src="{{ item.img }}"></div>
                        <div class="day_name">{{ item.name }}</div>
                    </div>  
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>
</body>
</html>