{% load static %}

<footer>
    <div class="footer_">
        <div class="flex-box gap8">
            <div class="laftel_">OREUMITALE</div>
            <div>회사소개</div>
            <div>고객센터</div>
            <div>공지사항</div>
            <div>이용약관</div>
        </div>
        {% comment %} <div class="flex-box gap8">
            <button>트위터</button>
            <button>유튜브</button>
            <button>인스타그램</button>
            <button>틱톡</button>
        </div> {% endcomment %}
    </div>
</footer>