{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}?{% now "U" %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}"/>
    <title> 라프텔</title>
</head>
<body>
    {% include 'main/nav.html' %}

    <section class ="post-list">
        <!-- 최고 조회수 게시글 = best_article -->
        <div class = "first-post-box">
            <div class="container desktop">
                {% comment %} <a href="{% url 'post_detail' post.id %}"> {% endcomment %}
                    <div class="post-info-box">
                        <h3>test</h3>
                        <button>READ MORE</button>
                    </div>
                </a>
                {% comment %} <div class="thumbnail-img"><img src = {{ post.content|get_img_src }}></div> {% endcomment %}
            </div>
        </div>
        <!-- 전체 게시글들 -->
        <article class = "post-box">
            <div class="container">
                
                
                        <div class="card">
                            <div class="card-thumbnail-img">
                                {% comment %} {% if  post.content|get_img_src %}
                                    <img src="{{post.content|get_img_src}}" onerror="{% static "img/no_photos.svg" %}"alt="Thumbnail image" />
                                {% else %}
                                    <img src="{% static "img/no_photos.svg" %}" alt="Thumbnail image" style="width: auto; height: 100%; background-color: transparent" />
                                {% endif %} {% endcomment %}
                            </div>
                            <a 
                            {% comment %} href="{% url 'post_detail' post.id %}" {% endcomment %}
                            >
                            <div class="card-info-box">
                                    {% comment %} <p>{{ post.created_at|date:'Y-m-d H:i' }} | {{post.user_id}}</p>
                                    <h3>{{ post.title }}</h3>
                                    <div class="sub-info">{{ post.content|text_only }} </div> {% endcomment %}
                            </div>
                            </a>
                        </div>
                
            </div>
        
        </article>
    </section>
</body>
</html>