{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}?{% now "U" %}">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}?{% now "U" %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}?{% now "U" %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}?{% now "U" %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}?{% now "U" %}"/>
    <title> 오르미테일</title>
</head>
<body>
    {% include 'main/nav.html' %}

    <section class ="post-list">
        <!-- 최고 조회수 게시글 = best_article -->
        {% for item in data %}{% if forloop.first %}
        <div class = "first-post-box">
            <div class="container desktop">
                    <div class="post-info-box">
                        {% comment %} <h3>{{ item.name }}</h3> {% endcomment %}
                        <div>{{ item.content }}</div>
                    </div>
                <div class="thumbnail-img"><img src="{{ item.img }}"></div>
            </div>
        </div>
        {% endif %}{% endfor %}
        <!-- 전체 게시글들 -->
        <article class = "post-box">
            <div class="container">
                
                    {% for item in data %}{% if not forloop.first%}
                        <div class="card">
                            <div class="card-thumbnail-img">
                                    <img src="{{ item.img }}" alt="Thumbnail image" />
                            </div>
                            <div class="card-info-box">
                                    <h3>{{ item.name }}</h3>
                                    <div class="sub-info">{{ item.content }} </div>
                            </div>
                            </a>
                        </div>
                    {% endif %}{% endfor %}
            </div>
        
        </article>
    </section>
    {% include 'main/footer.html' %}
</body>

</html>