{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}?{% now "U" %}">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}?{% now "U" %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}?{% now "U" %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}?{% now "U" %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}?{% now "U" %}"/>
    <title> 라프텔</title>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // API 요청을 보내고 데이터를 받아오는 함수
            function fetchAnimeInfo() {
                fetch('/api/anime/')  // API 엔드포인트 URL을 적절히 수정하세요.
                    .then(response => response.json())
                    .then(data => {
                        const animeName = data.name;  // API 응답에서 원하는 데이터 필드를 사용하세요.
                        const animeNameElement = document.getElementById('anime-name');
                        animeNameElement.textContent = animeName;
                        
                        const animeContent = data.content;  // API 응답에서 원하는 데이터 필드를 사용하세요.
                        const animeContentElement = document.getElementById('anime-content');
                        animeContentElement.textContent = animeContent;

                        const animeImage = data.image;
                        const animeImageElement = document.getElementById('anime-img');
                        const imageElement = document.createElement('img');
                        imageElement.classList.add('first_image');
                        imageElement.src = animeImage;
                        animeImageElement.appendChild(imageElement);
                    })
                    .catch(error => {
                        console.error('API request error:', error);
                    });
            }
    
            fetchAnimeInfo();  // 페이지 로딩 시 API 데이터를 가져오도록 호출
    
        });
    </script>
</head>
<body>
    {% include 'main/nav.html' %}

    <section class ="post-list">
        <!-- 최고 조회수 게시글 = best_article -->
        <div class = "first-post-box">
            <div class="container desktop">
                {% comment %} <a href="{% url 'post_detail' post.id %}"> {% endcomment %}
                    <div class="post-info-box">
                        <h3 id="anime-name"></h3>
                        <div id="anime-content"></div>
                        {% comment %} <button>READ MORE</button> {% endcomment %}
                    </div>
                {% comment %} </a> {% endcomment %}
                <div class="thumbnail-img" id="anime-img"></div>
            </div>
        </div>
        <!-- 전체 게시글들 -->
        <article class = "post-box">
            <div class="container">
                
                
                        <div class="card">
                            <div class="card-thumbnail-img">
                                {% comment %}  {% if  post.content|get_img_src %}
                                    <img src="{{post.content|get_img_src}}" onerror="{% static "img/no_photos.svg" %}"alt="Thumbnail image" />
                                {% else %}
                                    <img src="{% static "img/no_photos.svg" %}" alt="Thumbnail image" style="width: auto; height: 100%; background-color: transparent" />
                                {% endif %}  {% endcomment %}
                            </div>
                            <a 
                            {% comment %} href="{% url 'post_detail' post.id %}" {% endcomment %}
                            >
                            <div class="card-info-box">
                                {% comment %} <p>{{ post.created_at|date:'Y-m-d H:i' }} | {{post.user_id}}</p>
                                    <h3>{{ post.title }}</h3>
                                    <div class="sub-info">{{ post.content|text_only }} </div>  {% endcomment %}
                            </div>
                            </a>
                        </div>
                
            </div>
        
        </article>
    </section>
    {% include 'main/footer.html' %}
</body>

</html>