{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}?{% now "U" %}">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}?{% now "U" %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}?{% now "U" %}"/>
    <title>Document</title>
</head>
<body>
    {% include 'main/nav.html' %}
    멤버십
</body>
</html>