{% load static %}

<nav>
<div class="container">
    <div class="full-box flex-box between">
        <div class="flex-box">
            <div >
            <a href="{% url 'main' %}">
                <img class="logo" src="{% static 'img/logo.png' %}" alt=""/>
            </a>
            </div>
            <div class="nav-buttons">
            <a href="/tag">
                <button id="trade-button">태그검색</button>
            </a>
            <a href="/daily">
                <button id="trade-button">요일신작</button>
            </a>
            <a href="recommend">
                <button id="trade-button">테마추천</button>
            </a>
            {% if user.is_authenticated %}
                <a href="/location">
                <button id="location-button">멤버십</button>
                </a>
            {% endif %}

            </div>
        </div>
    <div class="flex-box gap8">
        {% comment %} <form method="GET" action="{% url 'main:search' %}"> {% endcomment %}
        <input type="text" id="search" name="search" class="search" placeholder="물품이나 동네를 검색해보세요"/>
        {% comment %} </form> {% endcomment %}
        {% if user.is_authenticated %}
            {% comment %} <a href="{% url '#' %}" class="ghost-button orange">알림</a> {% endcomment %}
            <a href="{% url 'logout' %}" class="ghost-button">로그아웃</a>
        {% else %}
            <a href="{% url 'login' %}" class="ghost-button" style="color: #1e1e1e">로그인</a>
        {% endif %}
    </div>
    </div>
</div>
<script src="{% static 'js/nav.js' %}"></script>
</nav>