{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}?{% now "U" %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}?{% now "U" %}">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}?{% now "U" %}">
    <link rel="stylesheet" href="{% static 'css/tag.css' %}?{% now "U" %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}?{% now "U" %}"/>
    <title>Document</title>
</head>
<body>
    {% include 'main/nav.html' %}
<div class="content">
    <h3>태그검색</h3>
    <div>
        <div>
            필터
        </div>
        <div>
            장르
        </div>
        <div>        
            태그
        </div>
        <div>        
            년도
        </div>
        <div>        
            방영
        </div>
        <div>        
            출시타입
        </div>
    </div>
    <div>
        영상 영상 영상
    </div>
</div>

</body>
</html>